:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: var(--primary-white-color);
    font-family: var(--primary-font);
    color: var(--primary-text-color)
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;

}

.menu .current {
    color: var(--accent-color);
}

.logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);

}

.logo-webstudio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-mail,
.contact-phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}

.envelope-icon,
.phone-icon {
    fill: currentColor;
    margin-right: 10px;
}


/*================ HERO ================*/
.hero-section {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    background-color: #C4C4C4;
}

.hero-container .main-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.modal-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border-color: transparent;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}

/*================ /HERO ================*/
/*================ ABOUT ================*/

.about-section {
    padding-top: 94px;
    padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-cards {
    display: flex;
    margin-left: 0;
}

.about-item {
    width: 270px;
    margin-left: 0;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

.thumb {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-item {
    height: 120px;

}

.about-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.about-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*================ /ABOUT ================*/
/*================ WORK ================*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.work-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/*================ EMPLOYEES ================*/

.section-employees {
    background: #F5F4FA;
}


.employees-card-container-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-white-color);
    border-color: #757575;
    border-radius: 0px 0px 4px 4px;

}

.employee-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.employee-job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.employees-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


}

.employee-item {
    flex-basis: calc((100% - 90px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);

}

.social-list-icon {
    fill: #AFB1B8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--primary-white-color)
}

/*================ /EMPLOYEES ================*/
/*================ CLIENTS ================*/

.clients-list {
    display: flex;
    gap: 30px;
}

.client-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-item:hover,
.client-item:focus {
    border: 1px solid var(--accent-color);
}

.client-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clients-list-icon {
    fill: #AFB1B8
}

.client-list-link:hover .clients-list-icon,
.client-list-link:focus .clients-list-icon {
    fill: var(--accent-color)
}

/*================ /CLIENTS ================*/
/*================ FOOTER ================*/
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.container-left {
    margin-right: 70px;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}

.footer-container-adress {
    margin-bottom: 9px;
}

.footer-container-mail {
    margin-bottom: 9px;
}

.logo-webstudio-light {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.mail,
.phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
    color: var(--accent-color);
}

.join-us {
    display: block;

}

.join-us-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    gap: 10px;

}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--accent-color);

}

.footer-social-list-icon {
    fill: var(--primary-white-color);
}

/*================ /FOOTER ================*/

/*============= PORTFOLIO PAGE =============*/


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btn-filter {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    background-color: #F5F4FA;

}

.btn-filter:hover,
.btn-filter:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background: var(--accent-color);
}

/*============= PPROJECTS =============*/

.project-cards-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    flex-basis: calc((100% - 60px)/3);
}

.project-card:hover {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.project-card-container-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*=============/ PPROJECTS =============*/

/*============ /PORTFOLIO PAGE ============*/